CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
DATABASE_URL=
OLLAMA_URL=https://YOUR_NGROK_URL
REMBG_URL=https://YOUR_NGROK_URL
STORY_START_DATE=2026-03-10
CLIENT_ORIGIN=https://your-vercel-app.vercel.app
PORT=3001
